.banner {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: top;
}

.avatar {
    width: 10vw;
    /*border-radius: 50%;*/
    object-fit: cover;
}

.contact {
    padding-left: 15px;
}

.flex {
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.formControl textarea, .formControl input {
    outline: none;
}

.formControl.error input, .formControl.error textarea {
    border: 2px solid red;
}

.formControl2 {
    color: red;
}

.summaryError {
    color: red;
}