* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border-radius: 1vh; */
}
body {
  background: #e1e1e1;
  /* background: #818181; */
}

.app-wrapper {
  padding: 1vh 1vw;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 2fr 10fr;
  /* row-gap: 0.5vw;
  column-gap: 0.5vw; */
  gap: 0.5vw;
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  grid-area: c;
}
