.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background: skyblue;
  min-height: 50vh;
}

.messages {
  padding: 1vh 1vw;
}

.names {
  padding: 1vh 1vw;
}

.avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50% 0 50% 0;
}

.item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  text-decoration: none;
}

.item:hover {
  opacity: 0.5;
}

.active {
  text-decoration: none;
  color: red;
}

.active:hover {
  opacity: 0.5;
}
